body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #2C3E50;
    color: #ECF0F1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
}

.title {
    font-size: 3em;
    color: #1ABC9C;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 1.2em;
    color: #BDC3C7;
    margin-bottom: 20px;
}

.explore-btn {
    padding: 10px 20px;
    font-size: 1.2em;
    color: #fff;
    background-color: #1ABC9C;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.explore-btn:hover {
    background-color: #16A085;
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #34495E;
    color: #ECF0F1;
    position: relative;
    bottom: 0;
    width: 100%;
}
