<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Sistema{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/clima.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('cAire.aire') }}">Calidad del Aire</a></li>
            <li><a href="{{ url_for('cenergia.consumoE') }}">Consumo de Energía</a></li>
            <li><a href="{{ url_for('login.logout') }}">Cerrar Sesión</a></li>
            <li><a href="{{ url_for('cclima.clima_home') }}">Pronóstico del Clima</a></li>
        </ul>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <script src="{{ url_for('static', filename='JS/script.js') }}"></script>
</body>
</html>
