<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consumo de Energía</title>
    <link rel="stylesheet" href="../static/CSS/consumoE.css">
    {% include "./components/Navbar.html" %}
</head>

<body>
    <header class="header">
        <h1 id="main-title" class="main-title hidden">Consumo de Energía</h1>
        <p id="subtitle" class="subtitle hidden">Monitoreo del consumo de energía en tiempo real</p>
    </header>

    <section id="energy-consumption">
        <div id="form-card" class="form-card hidden">
            <h2 class="form-title">Introduce los datos</h2>
            <form method="POST" class="form">
                <div class="form-group">
                    <label for="device_name">Selecciona un dispositivo:</label>
                    <select id="device_name" name="device_name" class="form-control">
                        <option value="refrigerador">Refrigerador</option>
                        <option value="aire acondicionado">Aire Acondicionado</option>
                        <option value="lavadora">Lavadora</option>
                        <option value="televisor">Televisor</option>
                        <option value="computadora">Computadora</option>
                        <option value="microondas">Microondas</option>
                        <option value="secadora">Secadora</option>
                        <option value="ventilador">Ventilador</option>
                        <option value="impresora">Impresora</option>
                        <option value="cafetera">Cafetera</option>
                        <option value="aspiradora">Aspiradora</option>
                        <option value="lavavajillas">Lavavajillas</option>
                        <option value="hervidor de agua">Hervidor de Agua</option>
                        <option value="hornos eléctricos">Hornos Eléctricos</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="wattage">Potencia del dispositivo (en vatios):</label>
                    <input type="number" id="wattage" name="wattage" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="hours_per_day">Horas de uso por día:</label>
                    <input type="number" id="hours_per_day" name="hours_per_day" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="days_per_month">Días de uso por mes:</label>
                    <input type="number" id="days_per_month" name="days_per_month" class="form-control" required>
                </div>

                <button id="btn-submit" type="submit" class="btn-submit hidden">Calcular</button>
            </form>
        </div>
    </section>

    <script src="../static/JS/Cenergia.js"></script>
</body>

</html>
