<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Weather App{% endblock %}</title>
    <link rel="stylesheet" href="../static/CSS/footer.css">

    
</head>
<body class="bg-gray-100 font-sans text-gray-900">

    <footer class="footer">
        <h3>Mi Página Web</h3>
        <p>&copy; 2024 Mi Empresa. Todos los derechos reservados.</p>
        <div>
            <a href="#">Política de Privacidad</a>
            <a href="#">Términos y Condiciones</a>
            <a href="#">Contacto</a>
        </div>
    </footer>
    
    
    <script src="../static/JS/footer.js"></script>
</body>
</html>
